.form-control:focus
    box-shadow: none;
 .send-icon
    font-size: 25px;
    color: #ced4da;
    &:hover
        color:#5682a3

textarea
    line-height: 14pt;
    font-size: 14px;
    padding: 10px;
    resize:none;
    border-radius: 5px !important;