.list-user
    border: none;
    border-radius: 0;
    overflow: hidden;
    white-space: nowrap;
    
.list-users
    border-right: 2px solid #e8eaec;

    .box
        height: 600px;
        overflow: hidden;

    .buttonIcon
        min-width: 20px;
        i 
          cursor: pointer;

.user-icon
  color: #5682a3;

.offline
  color: #ced4da !important;

.online
  color: #6c757d;

.active
  color: #28a745;

.delete
  color: #dc3545;

::-webkit-scrollbar
  width: 2px;

::-webkit-scrollbar-track
  background #edf1f1;
  border-radius: 2px;
  
::-webkit-scrollbar-thumb
  background: #bbb
  border-radius: 2px;
