.messages
    height: 600px;
    overflow hidden;
.message
    &:hover
        background-color: #e8eaec;
  .update
    background-color: #e8eaec73;

  .but-icon
    cursor: pointer
    color: #ced4da !important;

    &:hover 
      color: #5682a3 !important;

  .fullText
    white-space: pre-wrap;

  .smallText
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  strong 
    color: #5682a3;

  .button-full-text
    color: #ced4da;
    &:hover
      cursor: pointer;
      color: #5682a3;

::-webkit-scrollbar
  width: 5px;

::-webkit-scrollbar-track
  background #edf1f1;
  border-radius: 2px;
  
::-webkit-scrollbar-thumb
  background: #bcc9d3; 
  border-radius: 2px;
