.box-auth
    position: relative;
    top: -42px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 1px 0 #dfe5ec;
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #dfe5ec;
    border-right: 1px solid #dfe5ec;
    border-bottom: 1px solid #d2dbe3;
    overflow: hidden;

.login-head-bg 
    background: #5682a3;
    height: 226px;
input
    box-shadow: none !important;
    
button 
    background: #5682a3 !important;
    border-color: #5682a3 !important;
    &:hover
        background: #426c8c !important;